.navGrid{
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 70px;
    padding: 10px 15px;
}

.fontBold{
    font-weight: bold;
    font-size: 32px;
}

.flexNav{
    align-self: center;
    
    justify-self:end;
}

.links{
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
}

.centerHeading{
    align-self: center !important;
}

.cartButton{
    color: #fff !important;
}

